{% extends 'base.html' %}
{% block content %}

<h2>listar alunos</h2>
<a href="{% url 'incluir_aluno' %}">cadrastrar novo aluno</a>
<table>
    <tr>
        <th>id</th>
        <th>nome</th>
        <th>e_email</th>
        <th>açõoes</th>
    </tr>
</table>
<tbody>
    {% for a in alunos %}
       <tr> 
             <td>{{a.id}}</td>
            <td>{{a.nome}}</td>
            <td>{{a.email}}</td>
             <td>
                 <a href="{% url 'editar_aluno' a.id %}">Editar</a>
                 <a href="#">Excluir</a>
             </td>
       </tr>
       {% endfor %}
</tbody>

{% endblock %}