{% extends 'base.html' %}
{% block content %}

<h2>listar cursos</h2>
<a href="{% url 'incluir_curso' %}">cadrastrar novo curso</a>
<table class="table table-striped">
    <tr>
        <th>nome</th>
        <th>cargas horaria</th>
    </tr>

<tbody>
    {% for a in cursos %}
    <tr>
         <td>{{a.nome}}</td>
    
    <td>
        <a href="{% url 'editar_curso' a.id %}">Editar</a>
        <a href="{% url 'excluir_curso' a.id %}">Excluir</a>
    </td>
</tr>
    {% endfor %}
</tbody>
</table>
{% endblock %}