{% extends 'base.html' %}
{% block content %}

<h2>listar alunos</h2>
<a href="{% url 'incluir_aluno' %}"class="">
    cadrastrar novo aluno</a>
<table class="table table-striped">

    <tr>
        <th>id</th>
        <th>nome</th>
        <th>e_email</th>
        <th>açõoes</th>
    </tr>

<tbody>
    {% for a in alunos %}
       <tr> 
             <td>{{a.id}}</td>
            <td>{{a.nome}}</td>
            <td>{{a.email}}</td>
             <td>
                 <a href="{% url 'editar_aluno' a.id %}"
                 class="btn btn-secondary">Editar</a>
                 <a href="javascript:void(0)"
                 onclick="abrirTela( '{% url 'excluir_aluno' a.id %}' )"
                 class="btn btn-danger" >
                 Excluir
                </a>
             </td>
       </tr>
       {% endfor %}
</tbody>
</table>


{% endblock %}